In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
import pickle as pkl
import seaborn as sns
sns.set()
np.random.seed(0)

In [19]:
df = pd.read_csv('data/day.csv', index_col=0)
df.head()

,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
instant,,,,,,,,,,,,,,,
1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [20]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
season,731.0,2.496580,1.110807,1.000000,2.000000,3.000000,3.000000,4.000000
yr,731.0,0.500684,0.500342,0.000000,0.000000,1.000000,1.000000,1.000000
mnth,731.0,6.519836,3.451913,1.000000,4.000000,7.000000,10.000000,12.000000
holiday,731.0,0.028728,0.167155,0.000000,0.000000,0.000000,0.000000,1.000000
weekday,731.0,2.997264,2.004787,0.000000,1.000000,3.000000,5.000000,6.000000
workingday,731.0,0.683995,0.465233,0.000000,0.000000,1.000000,1.000000,1.000000
weathersit,731.0,1.395349,0.544894,1.000000,1.000000,1.000000,2.000000,3.000000
temp,731.0,0.495385,0.183051,0.059130,0.337083,0.498333,0.655417,0.861667
atemp,731.0,0.474354,0.162961,0.079070,0.337842,0.486733,0.608602,0.840896
hum,731.0,0.627894,0.142429,0.000000,0.520000,0.626667,0.730209,0.972500
windspeed,731.0,0.190486,0.077498,0.022392,0.134950,0.180975,0.233214,0.507463
casual,731.0,848.176471,686.622488,2.000000,315.500000,713.000000,1096.000000,3410.000000
registered,731.0,3656.172367,1560.256377,20.000000,2497.000000,3662.000000,4776.500000,6946.000000
cnt,731.0,4504.348837,1937.211452,22.000000,3152.000000,4548.000000,5956.000000,8714.000000

In [21]:
df2 = df.loc[:,('season',
                'yr',
                'mnth',
                'holiday',
                'weekday',
                'workingday',
                'weathersit',
                'temp',
                'atemp',
                'hum',
                'windspeed',
                'cnt')]

df2.rename(columns={
                    'yr': 'year',
                    'mnth': 'month',
                    'weekday': 'week_day',
                    'workingday': 'working_day',
                    'weathersit': 'weather',
                    'temp': 'temperature',
                    'atemp': 'feeling_temperature',
                    'hum': 'humidity',
                    'windspeed': 'wind_speed',
                    'cnt': 'y'
                  }, inplace=True)
df2.head()

,season,year,month,holiday,week_day,working_day,weather,temperature,feeling_temperature,humidity,wind_speed,y
instant,,,,,,,,,,,,
1,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,985
2,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,801
3,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,1349
4,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,1562
5,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,1600

In [22]:
X = df2
y = X.pop('y')
X.head()

,season,year,month,holiday,week_day,working_day,weather,temperature,feeling_temperature,humidity,wind_speed
instant,,,,,,,,,,,
1,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446
2,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539
3,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309
4,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296
5,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900

In [23]:
y.head()

instant
1     985
2     801
3    1349
4    1562
5    1600
Name: y, dtype: int64

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [29]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(548, 11) (183, 11) (548,) (183,)

In [30]:
from sklearn.linear_model import LinearRegression

lr_pipeline = Pipeline([
    ('lr', LinearRegression())
])

lr_pipeline.fit(X_train.values, y_train.values)

print(f"Score: {lr_pipeline.score(X_test.values, y_test.values)}")

Score: 0.8044822761227018

In [31]:
X_train['y'] = y_train
X_train.to_csv("bikes_train.csv")
X_test['y'] = y_test
X_test.to_csv("bikes_test.csv")

In [32]:
with open("bikes_model_linear_regression.pkl", "wb") as f:
    pkl.dump(lr_pipeline, f)